html,body{
    .box{
        width: 220px;
        height: 120px;
        // 默认情况下，webpack无法处理css文件的url地址，不管是图片还是字体库，只要是url地址都处理不了  需要安装cnpm i url-loader file-loader -D
        background: url('../images/生小孩.jpg');
        background-size: cover;
    }

    .box2{
        width: 220px;
        height: 120px;
        // 默认情况下，webpack无法处理css文件的url地址，不管是图片还是字体库，只要是url地址都处理不了  需要安装cnpm i url-loader file-loader -D
        background: url('../images2/生小孩.jpg');
        background-size: cover;
    }
}